
body {
    margin: 0;
    padding: 0;
    background-color: #841516;
    font-family: "EB+Garamond";
  }
  .container {
    border-radius: 10px;
    margin-top: 5rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35rem;
    width: 25rem;
    background-color: #ffffff;
  }
  
  .center-image {
    margin: 0px auto 0;
    width: 7rem;
  }

  h4{
    margin-bottom: 20px;
    font-size: 17px;
    font-style: italic;
    color: #841516;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    font-style: italic;
  
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border: 2px solid #841516;
    border-radius: 5px;
    margin-bottom: 12px;
    height: 1.2rem;
  }
  
  input:focus{
    outline: none;
  
  }
  a {
    margin-left: auto;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-bottom: 15px;
  }
  
  input[type="submit"] { 
    padding: 13px 20px;
    margin-top: 1rem;
    background-color: #841516;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    min-height: 2.5rem;
    cursor: pointer;
    font-family: "EB+Garamond";
    font-style: italic;
    font-weight: bold;
}  