*{
    font-family: "EB+Garamond";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    height: 10vh;
    background-color: #ffffff;

  }
  header a p {
    position: absolute;
    left: 280px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  .logo-text{
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .menu-bar {
    display: flex; /* Make header a flex container */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Optional: Center content vertically (if needed) */
  }
  
  .header-link {
    color: #000000;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Optional: Center content vertically (if needed) */
  }
  .header{
    width: 100%;
    height: 100vh;
    background: #e2e9f7;
  }
  .side-nav{
    transition: width 0.5s ease-in-out;
    width: 250px;
    height: 100%;
    background: #841516;
    position: fixed;
    top: 0;
    left:0;
    padding: 20px 30px;
  
  }
  .profile{
    margin-left: auto;
    padding-right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  .profile-img{
    height: 50px;
    border-radius: 50%;
    left: 350px;
  }
  .logo{
    display: block;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .logo-img {
    height: 60px;
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .nav-links{
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    position: relative;
  }
  .nav-links li{
      margin-left: 20%;
      padding: 12px 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .nav-links li a img {

    height: 1.3rem;
    margin-right: 15px;
  }
  .nav-text {
    display: flex;
    align-items: center; /* Aligns vertically */
    justify-content: center; /* Aligns horizontally */
  }
  
  .log-out{
    margin-top: 40px;
  }
  
  .nav-links li:hover a{
    filter: invert(100%);
    transition: 0.3s;
  }
  
  .logo-icon{
    display: none;
    width: 45px;
  }
  @media only screen and (max-width: 600px){
    .side-nav{
      width: 110px;
      transition: width 0.5s ease-in-out;
    }
    .logo-icon{
      display: block;
    }
    .logo-img{
      display: none;
    }
    .nav-links li a p{
      display: none;
    }
    .nav-links li a img{
      margin-right: 30%;
      filter: invert(100%);
    }
     .nav-links li a{
      justify-content: center;
     }
     header a p {
    position: absolute;
    left: 140px;
  }
  .logo-text{
    display: none;
  }
  }
  